<!DOCTYPE html>
<html>
  <head>
    <title>Trade Reject</title>
    <style type="text/css">
      span.bold {font-weight: bold;}
      table.noborder {border: 0px; padding: 8px;}
      th {text-align: left;}
    </style>
  </head>
  <body>
     <u>TRADE REJECTION</u>
     <br>
     {{ uuid }}<br>
     <p>
     <table>
     <tr>
        <td></td> 
        <td>You {{ action }}</td> 
     </tr>
     <tr>
        <td><b>Coin</b></td>
        <td>{{ coin }} </td>
     </tr>
     <tr>
        <td><b>Quantity</b></td>
        <td>{{ quantity }}</td>
     </tr>
     <tr>
        <td><b>Error</b></td>
        <td>{{ error }}</td>
     </tr>
     </table>

    <p>
      Please fix spreadsheet error. Thank you.<br />
      <br />
    </p>
  </body>
</html>

